In [6]:
conda install -c anaconda mysql-connector-python

Retrieving notices: done
Channels:
 - anaconda
 - defaults
Platform: osx-arm64
Collecting package metadata (repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
import os

In [6]:
mydb=mysql.connector.connect(
host="localhost",
user="root", 
password="Gauri@123",
)
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x13fccf470>

In [8]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x13fccf470>

In [24]:
mycursor=mydb.cursor()

In [28]:
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE Authorized_user")

In [30]:
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('Authorized_user',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [32]:
import mysql.connector

# Connect to MySQL
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Gauri@123",
    database="Authorized_user"  # Ensure this database exists
)

mycursor = conn.cursor()

# Create table (fixed column naming issue)
mycursor.execute("""
    CREATE TABLE my_table (
        id INT PRIMARY KEY, 
        Name VARCHAR(50), 
        Age INT, 
        `address` VARCHAR(50)  -- Using backticks to avoid conflicts
    )
""")

print("Table created successfully!")

# Commit changes and close the connection
conn.commit()
conn.close()

Table created successfully!

In [34]:
import mysql.connector

try:
    # First establish connection
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Gauri@123",
        database="Authorized_user"  # Specify the database
    )
    
    mycursor = mydb.cursor()
    
    # Show all tables
    mycursor.execute("SHOW TABLES")
    
    # Print tables in a clean format
    print("\nTables in the database:")
    print("-----------------------")
    for table in mycursor:
        print(table[0])  # table[0] because the result is a tuple
        
except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    if 'mydb' in locals() and mydb.is_connected():
        mycursor.close()
        mydb.close()
        print("\nMySQL connection closed.")

Tables in the database:
-----------------------
my_table

MySQL connection closed.